<link rel="stylesheet" href="/css/home2.css">
    <header>
      <div class="logo"><h1>LMS</h1></div>
      <div class="toggle"></div>
      <div class="navigation">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><form id="myform" method="post" action="http://127.0.0.1:8081/OD"></form></li>
          <li><a onclick="document.getElementById('myform').submit();">Apply Leave</a></li>
          <li><a href="#work">Attendance</a></li>
          <li><a href="#contact">Miscellanous</a></li>
        </ul>
      </div>
    </header>
    <!-- home -->
    <section class="home" id="home">
      <img
        src="https://i2.wp.com/lighttravelaction.com/wp-content/uploads/sites/11/2019/03/lighttravelaction-Holi-screensaver-freebie-wallpaper-motivational-quote.png?fit=768%2C576&ssl=1"
        class="home-img"
        alt=""
      />
      <div class="home-content">
        <h2>
           Hi, <span class="highlight"><script>document.write("<%=n%>")</script></span><br />
        </h2>
        <p>
          Use the side-bar to navigate and get the data you want or you can sign out by using the below button.
        </p>
        <!--<a href="#services" class="btn">Sign out</a>-->
        <form action="http://127.0.0.1:8081/SignOut" method="post">
          <button class="btn">Sign Out</button>
        </form>
      </div>
    </section>
<script src="/js/home2.js"></script>
<p id="user1"><%=x%></p>
<script>
  if(document.getElementById('user1').innerHTML=='1')
    {
        alert("Leave Request Successful");
    }
</script>