<!DOCTYPE html>
<html>
<head>
	<title>OD</title>
	<style>
		a:link, a:visited {
			border-radius: 25px;
			width:50px;
			background-color: #f44336;
			color: white;
			padding: 15px 25px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
		}
        a{border-radius: 25px;
			width:50px;
			background-color: #f44336;
			color: white;
			padding: 15px 25px;
			text-align: center;
			text-decoration: none;
			display: inline-block;}
		a:hover, a:active {
			background-color: red;
		}
		table.tab{
			position:relative;
			left:280px;
		}
		a.current{
			background-color: #ffffff;
			color:#000000;
		}
	</style>
</head>
<body  style="margin: 0px; background-color: #f2f3f8;background-image: url('/images/bgpic6.jfif');height:100vh;background-size:cover;background-position:center;;">
<div class="logo">
<!--	<a href="https://intranet.cb.amrita.edu/"><img src="../public/images/logo-1.jpg" style="float:left;width:250px;height:auto;"></a>-->
	<button href="#" style="position:absolute; height:70px;width:30px;background-color: #f44336;color: black;left:0px" class="previous round" onclick="goBack()">&#8249;</button>	
	<img src="/images/logoamrita.jpg" style="float:left;width:250px;height:auto;border-bottom-right-radius: 25px;">
</div>
<div>
<font face="Gotham Narrow" color="#fff">
</br>
<table id="nav" width="480" align="relative" class="tab">
	<tr>
        <td><form id="myform1" method="post" action="http://127.0.0.1:8081/OD"></form></td>
		<td align="center"><a class="current" onclick="document.getElementById('myform1').submit();">OD</td></a>
		
        <td><form id="myform2" method="post" action="http://127.0.0.1:8081/OL"></form></td>
		<td align="center"><a onclick="document.getElementById('myform2').submit();">OL</td></a>
		
        <td><form id="myform3" method="post" action="http://127.0.0.1:8081/ML"></form></td>
		<td align="center"><a onclick="document.getElementById('myform3').submit();">ML</td></a>
	</tr>
</table>
</font>
</div>
<div>
	<form action="http://127.0.0.1:8081/OD1" method="post">
		<table width="105%" border="0" align="center" cellpadding="10" cellspacing="0" valign="middle" style="max-width:670px;background:#fff; border-radius:25px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);padding-right:12%;padding-left:12%;">
		<br>
		<br>
    	<tr>
        	<td style="height:40px;">&nbsp;</td>
    	</tr>
    	<tr>
        	<td colspan="2" style="padding:0 35px;">
            	<h1 style="color:#1e1e2d; font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;">Please enter your OD details</h1>
            	<span style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
	    	</td>
    	</tr>
		<tr>
			<td align="left">
				<label style="color:#1e1e2d; font-weight:500; margin:0;font-size:20px;font-family:'Rubik',sans-serif;"> From Date : </label></td>
				<td><input type="date" class="inputtext" id="FromDate" name="FromDate" placeholder="From Date" autofocus="1" style="color:#1e1e2d; font-weight:500; margin:0;font-size:20px;font-family:'Rubik',sans-serif;" required/>
			</td>											
		</tr>
		<tr>
			<td align="left">			
				<label style="color:#1e1e2d; font-weight:500; margin:0;font-size:20px;font-family:'Rubik',sans-serif;"> From Time : </label></td>
				<td><input type="time" class="inputtext" id="FromTime" name="FromTime" placeholder="From Time" autofocus="1" style="color:#1e1e2d; font-weight:500; margin:0;font-size:20px;font-family:'Rubik',sans-serif;" required/>
			</td>							
		</tr>
		<tr>
			<td align="left">						
				<label style="color:#1e1e2d; font-weight:500; margin:0;font-size:20px;font-family:'Rubik',sans-serif;"> To Date : </label>
			</td>
			<td><input type="date" id="ToDate" class="inputtext" name="ToDate" placeholder="To Date" autofocus="1" style="color:#1e1e2d; font-weight:500; margin:0;font-size:20px;font-family:'Rubik',sans-serif;" required/>
			</td>
		</tr>
		<tr>
			<td align="left">			
				<label style="color:#1e1e2d; font-weight:500; margin:0;font-size:20px;font-family:'Rubik',sans-serif;"> To Time : </label>
			</td>
			<td>
				<input type="time" class="inputtext" id="ToTime" name="ToTime" placeholder="To Time" autofocus="1" style="color:#1e1e2d; font-weight:500; margin:0;font-size:20px;font-family:'Rubik',sans-serif;" required/>
			</td>						
		</tr>
		<tr>
			<td align="left">	
				<label for="faculty" style="color:#1e1e2d; font-weight:500; margin:0;font-size:20px;font-family:'Rubik',sans-serif;">Faculty:</label>
					<td>
					<select name="faculty" id="faculty" style="font-size:15px;">
  						<option value="Dr.Venkatraman D">Dr.Venkatraman D</option>
						  <option value="Ms.Anisha Radhakrishnan">Ms.Anisha Radhakrishnan</option>
  						<option value="Dr.Madhusuhan Rao">Dr.Madhusudhan Rao</option>
  						<option value="Dr.Swapna T R">Dr.Swapna T R</option>
  						<option value="Dr.Nalinadevi N">Dr.Nalinadevi N</option>
					</select>
					</td>
			</td>
		</tr>
		<tr>
			<td align="left">								
				<label style="color:#1e1e2d; font-weight:500; margin:0;font-size:20px;font-family:'Rubik',sans-serif;"> Event Type : </label>
			</td>
			<td>
				<input type="text" id="EventType" class="inputtext" name="EventType" placeholder="Event Type" autofocus="1" style="color:#1e1e2d; font-weight:500; margin:0;font-size:20px;font-family:'Rubik',sans-serif;" required/>
			</td>
		</tr>
		<tr>
			<td align="left">								
				<label style="color:#1e1e2d; font-weight:500; margin:0;font-size:20px;font-family:'Rubik',sans-serif;"> Participation Type : </label>
			</td>
			<td>
				<input type="text" id="ParticipationType" class="inputtext" name="ParticipationType" placeholder="Participation Type" autofocus="1" style="color:#1e1e2d; font-weight:500; margin:0;font-size:20px;font-family:'Rubik',sans-serif;" required/>
			</td>
		</tr>
		<tr>
			<td align="left">								
				<label style="color:#1e1e2d; font-weight:500; margin:0;font-size:20px;font-family:'Rubik',sans-serif;"> Award : </label>
			</td>
			<td>
				<input type="text" class="inputtext" id="Award" name="Award" placeholder="Award" autofocus="1" style="color:#1e1e2d; font-weight:500; margin:0;font-size:20px;font-family:'Rubik',sans-serif;"required/>
			</td>                                
		</tr>
		<tr>
			<td><button style="background:crimson;text-decoration:none !important; font-weight:500; margin-top:35px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:50px;">Apply</button></td>
		</tr>
    	<tr>
    		<td style="height:40px;">&nbsp;</td>
    	</tr>
	</table>
</form>
</br>
</br>
</div>
</body>
<script src="../js/od.js"></script>
</html>