body{
    background-image: url('../images/bgpic6.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    position: absolute;
    top: 0px;
    left: 0px;
    float:left;
    width:250px;
    height:auto;
    border-bottom-right-radius: 25px;
}
.box{
    position: relative;
    top: 200px;
    left: 400px;
    width:700px;
    height: 250px;
    text-align:center;
    background-color:white;
    word-wrap: break-word;
    border-radius:25px;
}
.Hi{
    color:crimson;
}