<html lang="en" ng-app="BipApp">

<head>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
 <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,300,700|Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="../css/Profile.css">
</head>

<body onload="initialize()">
  <div ng-controller="BipCtrl" class="sample" layout="column">
    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">
        <h3>
          <button href="#" style="position:absolute; height:65px;width:30px;border: 5px solid transparent;background-color: #f1f1f1c9;color: black;top:0px;left:0px" class="previous round" onclick="goBack()">&#8249;</button>
        <span>Setting profile</span>
      </h3>
      </div>
    </md-toolbar>
    <md-content class="md-padding">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="PROFILE">
          <md-content>
            <div ng-controller="BipCtrl" layout="column" class="inputBasicUsage" ng-app="BipApp">
              <md-content layout-padding="">
                <form name="UserProfile">
                    <div layout="" layout-sm="column">
                        <md-input-container flex="">
                          <label>Username</label>
                          <input name="username" readonly>
                        </md-input-container>
                    </div>
                    <div layout="" layout-sm="column">
                        <md-input-container flex="">
                            <label>First name</label>
                            <input ng-model="user.firstName" readonly>
                        </md-input-container>
                        <md-input-container flex="">
                            <label>Last Name</label>
                            <input ng-model="user.lastName" readonly>
                        </md-input-container>
                    </div>

                    <div layout="" layout-sm="column">
                        <md-input-container flex=''>
                            <label>Email</label>
                            <input ng-model="user.email" type="email" readonly>
                        </md-input-container>
                        <md-input-container flex=''>
                            <label>Phone</label>
                            <input ng-model="user.phone" type="phone" readonly>
                        </md-input-container>
                    </div>
                    <md-input-container flex="">
                        <label>Address</label>
                        <input ng-model="user.address" readonly>
                    </md-input-container>
                    <md-input-container md-no-float="">
                        <input ng-model="user.address2" placeholder="Address 2" readonly>
                    </md-input-container>

                    <div layout="" layout-sm="column" id="locationField">
                        <md-input-container flex="">
                            <label>City</label>
                            <input ng-model="user.city" id="autocomplete" onFocus="geolocate()" type="text" readonly>
                        </md-input-container>
                        <md-input-container flex="">
                            <label>State</label>
                            <input ng-model="user.state" readonly>
                        </md-input-container>
                        <md-input-container flex="">
                            <label>Postal Code</label>
                            <input ng-model="user.postalCode" readonly>
                        </md-input-container>
                    </div>

                  <md-input-container flex="">
                    <label>Country</label>
                    <input ng-model="user.country" readonly>
                  </md-input-container>


                  <md-input-container flex="">
                    <label>Health Bio</label>
                    <textarea ng-model="user.bio" columns="1" md-maxlength="200" readonly></textarea>
                  </md-input-container>
                  <section layout="row" layout-sm="column" layout-align="end">
                    <md-button class="md-raised md-primary">Update Profile</md-button>
                  </section>
                </form>
              </md-content>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="SECURITY">
          <div ng-controller="ListCtrl" layout="column" layout-sm="column">

            <md-content class="md-padding">
              <form name="PasswordChangeForm">
                <md-input-container flex="">
                  <label>Current password</label>
                  <input ng-model="user.pass">
                </md-input-container>
                <md-input-container flex="">
                  <label>New password</label>
                  <input ng-model="user.newpass">
                </md-input-container>
                <md-input-container flex="">
                  <label>Confirm password </label>
                  <input ng-model="user.checkpass">
                </md-input-container>
                <fieldset class="standard-2">
                    <md-button class="md-raised md-primary">Update Password</md-button>
                </fieldset>
              </form>
            </md-content>
          </div>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
</body>
<script src="../js/Profile.js"></script>
<script src="../js/goback.js"></script>
</html>